{box-sizing=border-box;}
.app-body {
     background-color: lightblue;
}
.image-style{
    width:100%;
    height: 300px;
}
.first-header{
    display:inline-block;
    background-color:lightgreen;
    color: #08536B;
    font-family: 'Oswald', sans-serif;
}
.main-row{
    margin-top: 0px;
    text: black;
    font-weight: bold;
    height: 100%;
    width: 100%;
}
.button{
    background-color=red;
}
.flight-details:nth-child(odd) {
    background: #4EF1F1;
    color: black;
}
.flight-details:nth-child(even) {
    background: #52B1A4;
    color: white;
}
input[type=checkbox] {
    transform: scale(2);
    margin: 0 10px 0 10px;
}
input[type=radio] {
    transform: scale(2);
    margin: 0 10px 0 10px;
}
button {
    font-family: 'Oswald', sans-serif;
    border: solid 1px somecolor;
    color: #eee;
    border-radius:5px;
    -moz-border-radius:5px;
    background: -moz-linear-gradient(top, #5E5E5E 0%, #474747 51%, #0a0e0a 51%, #0a0809 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E5E5E), color-stop(51%,#474747), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
}