<!DOCTYPE html>
<html lang="en">
<head>
<title>Flight Search Engine Homepage</title>
<meta charset="UTF-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>

<body  ng-app="myApp">
<div id="flights" class="container-fluid" ng-controller="searchFlights">
    <h1 style="background: lightgreen">Flight Search Engine!</h1>
    <!--1st Row-->
    <div class="row">
        <div class="col-xs-12 col-md-2 col-md-offset-1">
            To: <input type="text" id="depLoc" placeholder="fra" ng-model="flight.dep">
        </div>
        <div class="col-xs-12 col-md-2">
            From: <input type="text" id="arrLoc" placeholder="lhr" ng-model="flight.arr">
        </div>
    </div>
        <!--2nd Row-->
    <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-2">
                Date: <input type="date" ng-model="flight.date">
                <input type="hidden" ng-model="flight.mydate={{flight.date | date : 'dd/MM/yyyy'}}">
            </div>
    </div>

        <!--3rd Row-->
    <div class="row">
            <div class="col-sm-offset-1">
                    <div class="col-xs-12 col-md-3">
                        <label>
                            Sort By:
                            <input type="radio" ng-model="sortBy" value="fare">Fare
                            <input type="radio" ng-model="sortBy" value="date">Date
                            <input type="checkbox" id="connFlightEnable" ng-model="flight.connFlight"/>
                            Select To View Connecting Flights
                        </label>
                    </div>
                <div class="col-xs-12 col-md-2" ng-switch="sortBy" >
                    <input ng-switch-when="fare" ng-model="flight.choice=1" type="hidden">
                    <input ng-switch-when="date" ng-model="flight.choice=2" type="hidden">
                    <button ng-click="getflights(flight)">Search</button>
            </div>
        </div>
    </div>
    <!--4th row-->
    <div class="col-md-offset-1">
        <label>Flight List:</label>
        <br/>
        <span ng-repeat="flight in flights" ng-model="flight"></span>
    </div>

</div>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="assets/javascripts/app.js"></script>
<script src="assets/javascripts/flight.ctrl.js"></script>
</body>
</html>